#root {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.blocpage {
    width: 92%;
    align-self: center;
}

.conteneur__col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

