#root {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.blocpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    gap: 50px;
    align-self: center;
}