#root {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-height: 100dvh;
}

.blocpage__apropos {
    width: 92%;
    align-self: center;
    margin-bottom: 2em;

    .conteneur__col {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 2em;
    }
}



