.fiche {
    display: flex;
    flex-direction: column;
    width: 92%;
    align-self: center ;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    
}

.fiche__img {
    width: 100%;
    height: 30em;
    border-radius: 25px;
    object-fit: cover;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.titre {

}

.name {
    color: #FF6060;
    font-size: 2.5em;
    margin-block-end: 0.5em;

}

.localisation {
    margin-block-start: 0.5em;
    font-weight: 500;

}

.tags {
    display: flex;
    gap: 10px;

}

.tag {
    display: flex;
    background-color: #FF6060;
    color: white;
    width: 10em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 2em;

}
.hoteandrating {
    display: grid;
    grid-template-columns: repeat(2, 4em);
    gap: 15px;
    align-items: center;
    justify-items: end;
}

.hote__name {
    color: #FF6060;
    font-weight: 500;
    text-align: right;


}

.hote__img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.rating {
    place-self: flex-start;
}
 
span {
    font-size: 2em;
    color: #E3E3E3;
}

.on {
    color: #FF6060;
}

 .conteneurcollapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    height: 52px;
    width: 100%;

 }

