.fiche {
    display: flex;
    flex-direction: column;
    width: 92%;
    align-self: center ;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    
}

.fiche__img {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    object-fit: cover;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.titre {

}

.name {
    color: #FF6060;
    font-size: 2.5em;

}

.localisation {

}
.hoteandrating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
}

.hote__name {
    color: #FF6060;

}

.hote__img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
 .tagsandrating {

 }

 .collapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    height: 52px;
    width: 100%;

 }

 .collapse__description {
    background-color: #FF6060;
    border-radius: 10px;

 }

 .collapse__equipement {
    background-color: #FF6060;
    border-radius: 10px;

 }