.listelogements {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.listecartes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carte {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.carte__img {
    width: 95%;
    height: 80%;
    object-fit: cover;

}