header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    align-self: center;

    .header__navbar {
        display: flex;
        gap: 55px;

        .header__navbar__li {
            list-style-type: none;
           
           .header__navbar__li__link {  
                text-decoration: none;
                color: black;

            }

            .header__navbar__li__link.active{
                text-decoration: underline;
            }

            .header__navbar__li__link:hover {
                text-decoration: underline;
            }

            
        }
    }
    
    
}

@media (max-width: 767px){
header {
    .header__logo {
        width: 35%;
    }
    .header__navbar {
        width: 90%;
        gap: 30px;
    }
}
}
