header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    align-self: center;
}

.logo {

}

ul {
    display: flex;
    gap: 55px;
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;

    &&:hover{
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: black;
}

a.active{
    text-decoration: underline;
}

@media (max-width: 767px){
    .logo {
        width: 35%;
    }

    nav ul {
        width: 90%;
        gap: 30px;
    }
}