header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    align-self: center;

    ul {
        display: flex;
        gap: 55px;

        li {
            list-style-type: none;
        
           
           a {  
                text-decoration: none;
                color: black;
            
            }
        }
    }
}

a:hover {
    text-decoration: underline;
}

a.active{
    text-decoration: underline;
}




@media (max-width: 767px){
    .logo {
        width: 35%;
    }

    nav ul {
        width: 90%;
        gap: 30px;
    }
}